*{
    margin: 0;
    padding: 0;
    background: rgba(6, 219, 17, 0.171);
}
.box1{
    border: 5px solid rgb(226, 29, 29);
    border-radius: 20px;
    display: inline-block;
    color: purple;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 2;
    text-shadow: 2px 2px 2px purple;
    background: white;
    text-align: center;
    width: 30%;
    height: 150px;
    position: relative;
    top: 10px;
    left: 33%;
    box-shadow: 5px 5px purple;
    padding-top: 20px;
}
.horizontal-line{
    line-height: 0.5;
    margin-top: 11px;
}
hr{
    color: darkgray;
    margin: 0 10px 0 10px;
}
.fixedbox{
    position: fixed;
    left: 33%;
    bottom: 50px;
    border: 5px solid red;
    display: flex;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(47, 113, 255);
    width: 30%;
    height: 100px;
    box-shadow: 5px 5px purple;
    font-style: italic;
    color: red;
    padding: 20px 0 0 20px;
    font-weight: 600;
    z-index: 2;
}
.container1{
    display: flex;
    border: 5px solid green;
    height: 700px;
    position: absolute;
    width: 99%;
    /* z-index: -1; */
    margin-top: 10px;
}
.box{
    background-color: #fff;
    border: 5px solid red;
    border-radius: 10px;
    width: 25%;
    height: 250px;
    font-size: 30px;
    color: purple;
    text-shadow: 2px 2px 2px purple;
    box-shadow: 5px 5px purple;
    text-align: center;
    padding-top: 10px;
    
}
.box5{
    position: absolute;
    top: 0px;
    left: 0;
}
.box2{
    position: absolute;
    top: 0px;
    right: 6px;
}
.box3{
    position: absolute;
    left: 0px;
    bottom: 60px;
}
.box4{
    position: absolute;
    bottom: 20px;
    right: 6px;
}
img{
    border: 2px solid gray;
}
.container2{
    display: inline-flex;
    position: absolute;
    margin-left: 15%;
    top: 975px;
    border: 5px solid purple;
    background-color: green;
    z-index: 1;
    width: 70%;
    height: 500px;
    text-align: center;
}
.nbox{
    border: 2px solid gray;
    background-color: yellow;
    width: 49%;
    height: 200px;
    line-height: 1.6;
}
.nbox1{
    position: absolute;
    top: 50px;
    left: 0px; 
}
.nbox2{
    position: absolute;
    right: 0px;
    top: 50px;
}
.nbox3{
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.heading-nbox{
    background-color: green;
    margin-left: 400px;
    margin-top: 10px;
    font-size: 30px;
}
i{
    background-color: yellow;
    font-size: 20px;
    font-weight: 600;
}
.emptycontainer{
    position: absolute;
    top: 1550px;
}